@{
    ViewBag.Title = "System Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>System Admin</title>
</head>
<body>
	@Html.Partial("~/Views/Home/OptionMenus/_SystemAdminMenu.cshtml")
</body>
</html>

