@model EduSim.Web.ViewModels.SystemRolesViewModel
@{
	ViewBag.Title = "System Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Roles</title>
</head>
<body>
	<h2>@ViewBag.Title</h2>
	<div class="row">
		<div class="col-md-6">
			<h3>Roles</h3>
			<div class="list-group">
				@Html.TextBox("new-role-input","",new {@class="list-group-item-action", @placeholder="Add new role"}) <span class="btn glyphicon glyphicon-plus"></span>
				@foreach(var role in @Model.Roles)
				{
					<a class="list-group-item list-group-item-action">@role.Name</a>
				}
			</div>

		</div>
			
		<div class="col-md-6">
			<h3>Permissions</h3>
		</div>

	</div>

</body>
</html>

