@{
	ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
	<h2>@ViewBag.Title</h2>
	<div class="col-md-4">
		<h3>Users</h3>
	</div>

	<div class="col-md-8">
		<h3>Details</h3>
	</div>

	
</body>
</html>

