.login-body
{
	background-image:url("images/login-background.jpg");
}

.login-header
{
	color:#1893e4;
}

.option-bar
{
	
	background-color:#9d9d9d;
}

.collapse.navbar-collapse.nav.option-bar li a
{
	color:black;
}
