@model EduSim.Web.ViewModels.AccountDetails

<div id="account-details-content" class="panel-body">
	<div class="col-md-6">
		@Html.TextBoxFor(m => m.Name, new {@class="input-lg"})
	</div>
	<div class="col-md-6">
		
	</div>
</div>
