<li><a role="button">Gradebook</a></li>
<li><a role="button">Attendance</a></li>
<li><a role="button">Data</a></li>
<li><a role="button">Report Cards</a></li>
<li><a role="button" onclick="CloseOptionBar();"><span class="glyphicon glyphicon-minus"></span></a></li>