<div class="collapse navbar-collapse nav option-bar" id="dashboard-option-bar">
		<ul class="nav navbar-nav navbar-right" id="option-bar-items">
			<li>@Html.ActionLink("Accounts","Accounts","SystemAdmin")</li>
			<li><a role="button">Users</a></li>
			<li><a role="button">Roles and Permissions</a></li>
			<li><a role="button">Registrations</a></li>
			<li><a role="button" onclick="CloseOptionBar();"><span class="option-bar-closer glyphicon glyphicon-minus"></span>Hide</a></li>
		</ul>
</div>
<script src="~/Scripts/NavMenu/navmenu.dashboard.js"></script>